:root {
  --primary-color: #3f51b5;
  --primary-background: #f5f5f5;
  --primary-text-dark: #444;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--primary-background);
  display: flex;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.main {
  flex: 1;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  background-color: var(--primary-color);
  color: white;
  padding: 0.8rem;
}


.header__logo {
  font-size: 1rem;
  font-weight: bold;
  padding: 0.8rem;
  flex: 0;
}


.header__nav {
  display: flex;
  width: 100%;
}

.header__ul {
  display: flex;
  padding: 1rem;
  list-style-type: none;
  width: 100%;
  justify-content: space-around;
}

.header__nav-item {
  margin-right: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: aqua;
}


.header__nav-item a {
  color: white;
}

.header__nav-item a.active {
  color: red;
}

.misdemeanours {
  color: var(--primary-text-dark);
}

.misdemeanours__table {
  border-collapse: collapse;
  margin-top: 20px;
}

.misdemeanours__header {
  font-weight: bold;
  padding: 0.8rem;
  border: 1px solid black;
}

.misdemeanours__row {
  border: 1px solid black;
}

.misdemeanours__cell {
  padding: 0.8rem;
  border: 1px solid black;
}




.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem;
}


.footer__name {
  font-weight: bold;
  font-size: 0.3 rem;
  opacity: 0.5;

}


.footer__copyright {
  font-size: 0.3 rem;
  opacity: 0.5;
}